<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.be.mapper.ShoppingcartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.be.entity.Shoppingcart">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="ad_id" property="adId" />
        <result column="amount" property="amount" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
