<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.be.mapper.TbDisplayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.be.entity.TbDisplay">
        <result column="id" property="id" />
        <result column="ad_id" property="adId" />
        <result column="display_count" property="displayCount" />
        <result column="click_count" property="clickCount" />
        <result column="conversion_rate" property="conversionRate" />
    </resultMap>

</mapper>
