.adv-card {
  position: relative;
  width: 20vw;
  margin: 1rem;
  margin-right: 5vw;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 3px 3px 15px rgba($color: #000000, $alpha: 0.2);
  cursor: pointer;

  .adv-title {
    margin: 0.5rem 0;

    & > p {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .adv-info {
    display: flex;
    justify-content: space-around;

    .flex-item {
      flex: 1;
    }

    .adv-digest {
      margin-right: 1rem;
      max-width: 12vw;

      & > p {
        font-size: 0.8rem;
        word-wrap: break-word;
      }
    }

    .adv-img {
      position: relative;
      height: 6rem;
      width: 6rem;
      display: flex;
      justify-content: center;

      & > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  .adv-time {
    margin: 4px 0;
  }
}
