.create-ad {
  position: relative;
  padding: 16px;

  .top-bar {
    position: relative;
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;

    .flex-item {
      flex: 1;
    }

    .top-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .ad-form {
    position: relative;
    width: 100%;
    margin-top: 32px;

    .ad-title {
      width: 45vw;
      margin: 16px auto;
    }

    .ad-desc {
      width: 45vw;
      margin: 16px auto;
    }
  }

  .ad-upload-title {
    position: relative;
    top: -12px;
    width: 45vw;
    margin: auto;
  }

  .ad-upload {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    .ad-upload-img {
      width: 45vw;
      margin: auto;
    }
  }

  .ad-btn {
    position: relative;
    top: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
